<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
		  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="a.b.c.mem.vo.MemberVO" alias="membervo"/>
		<typeAlias type="a.b.c.product.vo.ProductVO" alias="productvo"/>
		<typeAlias type="a.b.c.news.vo.NewsVO" alias="newsvo"/>	
	</typeAliases>
</configuration>